<div class="centerContent" style="margin-top:50px;">
	<center>
		<h1>Congratulations!</h1>

		<h3>Registration is finished.</h3>


		<p>You will receive a 5% discount on your first purchase of food & drink at the convention center.</p>

		<p>Just show the seller your visitor badge and enjoy!</p>
	</center>
</div>